body {
    background-color: rgb(103, 226, 235);
    margin: 50px;
}

#memory {
    display: grid;
    background-color: rgb(232, 243, 75);
    margin-top: -50px;
    margin-left: 36%;
    width: 700px;
    height: 600px;
    grid-template-columns: repeat(4, 160px);
    padding: 20px;
    /*definir l'ecart entre les differentes valeurs*/
    grid-gap: 20px;
}

#memory img {
    width: 100%;
    height: 186px;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: rgb(1, 9, 24);
    text-shadow: 3px 3px 5px darkgoldenrod;
}

span {
    height: 190px;
}

#carte {
    position: relative;
}

#affiche {
    position: absolute;
    top: 30px;
}

#fieldset label {
    display: block;
}

select {
    width: 200px;
    font-size: 30px;
}

P, #level, label {
    font-size: 35px;
    text-align: left;
    font-weight: bolder;
    color: rgb(190, 25, 33);
}

#level {
    margin-left: 35%;
}

input {
    width: 400px;
    height: 50px;
}

button {
    display: flex;
    margin: 10px;
    font-size: 40px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    background-color: rgb(243, 247, 54);
    border: none;
}